@model CategoryVM
@{
    ViewBag.Title = "UpdateCategory";
}

<div class="panel panel-primary">
    <div class="panel panel-body">
        @using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Category.CategoryID)

            <div>
                @Html.TextBoxFor(x => x.Category.CategoryName, new { placeholder = "Category Name" })


            </div>
            <br />
            <div>
                @Html.TextBoxFor(x => x.Category.Description, new { placeholder = "Description" })
            </div>



            <div>
                <button>Update Category</button>
            </div>

        }
    </div>
</div>

